<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="row">

                <!-- filter for find movie by year -->
                <div class="col-xs-3">
                    <label>Year</label>
                    <div class="form-group">
                        <select #year id="year" class="form-control" (change)="changeYear(year.value)">
                        <option *ngFor="let year of yearsSelect" value="{{ year }}">{{year}}</option>
                    </select>
                    </div>
                </div>

                <!-- filter for find movie by genre -->
                <div class="col-xs-3">
                    <label>Gender</label>
                    <div class="form-group">
                        <select #genre id="genre" class="form-control"  (change)="changeGenre(genre.value)">
                        <option *ngFor="let genre of genresSelect" value="{{ genre.id }}">{{ genre.name }}</option>
                    </select>
                    </div>
                </div>
                <div class="col-xs-3"></div>

                <!-- Select compact or post mode -->
                <div class="col-xs-3">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle"
                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true"> View
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a (click)="changeViewMode(true)">Compact</a></li>
                            <li><a (click)="changeViewMode(false)">Posts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Movies's Visualization in compact or post mode, see movieTile component -->
    <div>
        <div *ngFor="let movie of movies">
            <movie-tile [movie]="movie" [size]="size" [viewMode]="viewMode"> </movie-tile>
        </div>
    </div>
</div>
