<div class="row">
    <div class="col-lg-10">

        <div class="row">
            <div class="col-xs-3">
                <label>
                    Year
                </label>
                <div class="form-group">
                    <select class="form-control" ng-model="view.year" ng-change="movieUpdate()">
                        <option ng-repeat="year in yearsSelect" value="{{ year }}">{{year}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-3">
                <label>
                    Gender
                </label>
                <div class="form-group">
                    <select class="form-control" ng-model="view.genre" ng-change="movieUpdate()">
                        <option ng-repeat="genre in genres" value="{{ genre.id }}">{{ genre.name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 text-right">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                View
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Compact</a></li>
                <li><a href="#">Posts</a></li>
            </ul>
        </div>
    </div>

</div>
<hr>
<popular-movies movies="view.movies" size="size"/>
