<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="row">
                <div class="col-xs-3">
                    <label>
                    Year
                </label>
                    <div class="form-group">
                        <select class="form-control" ng-model="view.year" ng-change="movieUpdate()">
                        <option ng-repeat="year in yearsSelect" value="{{ year }}">{{year}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <label>
                    Gender
                </label>
                    <div class="form-group">
                        <select class="form-control" ng-model="view.genre" ng-change="movieUpdate()">
                        <option ng-repeat="genre in genres" value="{{ genre.id }}">{{ genre.name }}</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<popular-movies movies="view.movies" size="size" />
