.navbar-dark {
 background-color: #1D1F22;
 color: white;
 font: 1em sans-serif;
}

.navbar-dark a {
 color: white;
}

.navbar{
  margin-bottom: 0px !important;
}

.nav li a:focus,
.nav li a:hover {
 background-color: #2C2A2E;
}
