<div>
    <div class="text-center" style="color: white;">
        <h1 style="font:10em bold Georgie">Movie TV</h1>
        <p style="font:7em Georgie">welcome!</p>
        <p><a class="btn btn-primary btn-lg" href="#!/movie" role="button">Discover</a></p>
    </div>

    <video playsinline autoplay muted loop id="bgvid">
        <source src="rapido-furioso.mp4" type="video/mp4">
    </video>
</div>
<style>
    video#bgvid {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(polina.jpg) no-repeat;
        background-size: cover;
    }
</style>
