<input (focus)="activeSearch()" (blur)="desactiveSearch(searchBox.value)" #searchBox id="search-box"
       [class.active]="active" [class.desactive]="!active" class="form-control"
       (keyup)="search(searchBox.value)" placeholder="Search by result, person, tv"/>

<!--results movies, persons or tv -->
<div *ngIf="active" class="result" (mouseover)="activeSearch()" (mouseleave)="desactiveSearch(searchBox.value)">
  <div class="row" *ngFor="let result of results| async">
    <a (click)="gotoDetail(result)">
      <!--image-->
      <div class="col-lg-2">
        <div *ngIf="result.media_type == 'movie' || result.media_type == 'tv'" class="col-lg-2 text-right">
          <img *ngIf="result.poster_path" width="100" height="130" src="{{apiImg}}{{result.poster_path}}">
          <img *ngIf="!result.poster_path" width="100" height="130"
               src="http://media.comicbook.com/files/img/default-movie.png">
        </div>

        <div *ngIf="result.media_type == 'person'" class="col-lg-2 text-right">
          <img *ngIf="result.profile_path" width="100" height="130" src="{{apiImg}}{{result.profile_path}}">
          <img *ngIf="!result.profile_path" width="100" height="130"
               src="http://www.gpp-kavkaz.ru/images/no_avatar.jpg?crc=238954602">
        </div>
      </div>

      <!--name, title, information-->
      <div class="col-lg-6 text-left">
        <div *ngIf="result.media_type == 'movie'">
          <h3> {{result.title}}</h3>
          <small>{{ result.release_date | date: 'yyyy' }}</small>
        </div>
        <div *ngIf="result.media_type == 'tv'">
          <h3> {{result.name}}</h3>
          <small>{{ result.first_air_date | date: 'yyyy' }}</small>
        </div>
        <div *ngIf="result.media_type == 'person'">
          <h3> {{result.name}}</h3>
          <small *ngFor="let movie of result.known_for ">{{ movie.original_title}}</small>
        </div>
      </div>

      <!--type: movie, person, tv-->
      <div class="col-lg-4 text-right">
        <div class="type">
          <span *ngIf="result.media_type == 'movie'" class="label label-primary">Movie</span>
          <span *ngIf="result.media_type == 'person'" class="label label-success">Person</span>
          <span *ngIf="result.media_type == 'tv'" class="label label-warning">Tv</span>
        </div>
      </div>
    </a>
  </div>
</div>

