<div class="container">
  <div class="page-header">
    <h1>{{ actor.name }}
      <small></small>
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-12 text-center">
      <img class="profile" src="{{apiImg}}{{actor.profile_path}}" width="260" height="330"
           data-toggle="modal" data-target="#myModal">
    </div>
    <div class="col-lg-8 col-md-8 col-xs-12">
      <div class="col-lg-12 col-md12 col-xs-12">
        {{ actor.biography }}
      </div>
      <div class="col-lg-12 social">
        <a class="btn btn-default" href="https://www.facebook.com/{{actor.external_ids.facebook_id}}" target="_blank">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a class="btn btn-default" href="https://twitter.com/{{actor.external_ids.twitter_id}}" target="_blank">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a class="btn btn-default" href="https://instagram.com/{{actor.external_ids.instagram_id}}" target="_blank">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
      </div>
      <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li role="presentation" [class.active]="isDetail"><a (click)="changeTab(false, true)">Detail</a></li>
          <li role="presentation" [class.active]="isMovies"><a (click)="changeTab(true,false)">Movies</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>

  <div *ngIf="isDetail" class="row well">
      <h3>Personal Information</h3>
      <div class="col-lg-3">
        <b>Name</b><br/>
        {{ actor.name }}
        <br/><br/>
        <b>Home page</b><br/>
        {{ actor.homepage }}
      </div>

      <div class="col-lg-3">
        <b>Birthday</b><br/>
        {{ actor.birthday | date }}
        <br/><br/>
        <b>Place of birth</b><br/>
        {{ actor.place_of_birth }}
      </div>

      <div class="col-lg-2">
        <b>Popularity</b><br/>
        {{ actor.popularity}}
      </div>
  </div>

  <div *ngIf="isDetail" class="row">
    <div class="col-sm-6 col-md-3" *ngFor="let image of actor.images.profiles">
      <div class="thumbnail" (click)="imageSelected(image.file_path)" data-toggle="modal" data-target="#myModal">
        <img src="{{apiImg}}{{image.file_path }}">
      </div>
    </div>
  </div>
  <div *ngIf="isMovies" class="row">
    <div *ngFor="let movie of actor.combined_credits.cast">
      <movie-tile [movie]="movie" [size]="size" [viewMode]="true"></movie-tile>
    </div>
  </div>
</div>


<div class="row text-center">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="row">
        <img style="height: 90vh" src="{{apiImg}}{{imgModal }}">
      </div>
    </div>
  </div>
</div>
<script>
  $('#myModal').on('shown.bs.modal', function () {
  })
</script>
